 .u-section-1 {
     min-height: 632px;
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/forestnofox.jpg");
     background-position: 50% 50%;
 }

 .u-section-1 .u-custom-html-1 {
     margin-top: 0;
     margin-bottom: 0;
 }

 .u-section-1 .u-custom-html-2 {
     margin-top: 2px;
     margin-bottom: 0;
 }

 .u-section-1 .u-icon-1 {
     width: 232px;
     height: 232px;
     margin: 33px auto 0;
     padding: 0;
 }

 .u-section-1 .u-text-1 {
     font-family: Chewy;
     font-weight: normal;
     margin: 0 auto;
 }

 .u-section-1 .u-text-2 {
     margin: 10px auto 0;
 }

 .u-section-1 .u-social-icons-1 {
     height: 32px;
     min-height: 16px;
     width: 158px;
     min-width: 94px;
     margin: 23px auto 0;
 }

 .u-section-1 .u-icon-2 {
     height: 0;
 }

 .u-section-1 .u-icon-3 {
     height: 0;
 }

 .u-section-1 .u-icon-4 {
     height: 0;
 }

 .u-section-1 .u-icon-5 {
     height: 0;
 }

 .u-section-1 .u-image-1 {
     width: 374px;
     height: 480px;
     margin: 30px auto 60px;
 }

 @media (max-width: 1199px) {
     .u-section-1 {
         min-height: 521px;
     }
     .u-section-1 .u-icon-1 {
         margin-top: 181px;
     }
 }

 @media (max-width: 991px) {
     .u-section-1 {
         min-height: 399px;
     }
     .u-section-1 .u-text-2 {
         width: auto;
         margin-left: 50px;
         margin-right: 50px;
     }
 }

 @media (max-width: 767px) {
     .u-section-1 {
         min-height: 299px;
     }
     .u-section-1 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
 }

 @media (max-width: 575px) {
     .u-section-1 {
         min-height: 144px;
     }
     .u-section-1 .u-icon-1 {
         margin-top: 86px;
     }
     .u-section-1 .u-image-1 {
         width: 340px;
         height: 436px;
     }
 }

 .u-section-2 {
     background-image: none;
 }

 .u-section-2 .u-sheet-1 {
     min-height: 855px;
 }

 .u-section-2 .u-layout-wrap-1 {
     margin-top: 60px;
     margin-bottom: 60px;
 }

 .u-section-2 .u-layout-cell-1 {
     min-height: 810px;
 }

 .u-section-2 .u-container-layout-1 {
     padding: 21px 30px;
 }

 .u-section-2 .u-text-1 {
     margin-bottom: 0;
     margin-top: 9px;
     font-size: 3rem;
     font-family: Chewy;
 }

 .u-section-2 .u-text-2 {
     font-size: 0.875rem;
     margin: 20px 0 0;
 }

 .u-section-2 .u-image-1 {
     height: auto;
     margin-top: 31px;
     margin-bottom: 0;
 }

 .u-section-2 .u-layout-cell-2 {
     min-height: 255px;
 }

 .u-section-2 .u-container-layout-2 {
     padding: 0;
 }

 .u-section-2 .u-group-1 {
     min-height: 213px;
     width: 460px;
     height: auto;
     box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
     --animation-custom_in-translate_x: -200px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin: 18px auto 0 0;
 }

 .u-section-2 .u-container-layout-3 {
     padding: 30px;
 }

 .u-section-2 .u-icon-1 {
     width: 86px;
     height: 86px;
     margin: 24px auto 0 0;
 }

 .u-section-2 .u-text-3 {
     margin: -86px auto 0 119px;
 }

 .u-section-2 .u-text-4 {
     font-size: 0.875rem;
     margin: 8px 0 0 119px;
 }

 .u-section-2 .u-layout-cell-3 {
     min-height: 253px;
 }

 .u-section-2 .u-container-layout-4 {
     padding: 0;
 }

 .u-section-2 .u-group-2 {
     min-height: 213px;
     width: 460px;
     height: auto;
     box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
     --animation-custom_in-translate_x: -200px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin: 18px 0 0 auto;
 }

 .u-section-2 .u-container-layout-5 {
     padding: 30px;
 }

 .u-section-2 .u-icon-2 {
     width: 86px;
     height: 86px;
     margin: 24px auto 0 0;
 }

 .u-section-2 .u-text-5 {
     margin: -86px auto 0 119px;
 }

 .u-section-2 .u-text-6 {
     font-size: 0.875rem;
     margin: 18px 0 0 119px;
 }

 .u-section-2 .u-layout-cell-4 {
     min-height: 253px;
 }

 .u-section-2 .u-container-layout-6 {
     padding: 0;
 }

 .u-section-2 .u-group-3 {
     min-height: 213px;
     width: 460px;
     height: auto;
     box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
     --animation-custom_in-translate_x: -200px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin: 0 auto 0 0;
 }

 .u-section-2 .u-container-layout-7 {
     padding: 30px;
 }

 .u-section-2 .u-icon-3 {
     width: 86px;
     height: 86px;
     margin: 24px auto 0 0;
 }

 .u-section-2 .u-text-7 {
     margin: -86px auto 0 119px;
 }

 .u-section-2 .u-text-8 {
     font-size: 0.875rem;
     margin: 18px 0 0 119px;
 }

 @media (max-width: 1199px) {
     .u-section-2 .u-sheet-1 {
         min-height: 698px;
     }
     .u-section-2 .u-layout-cell-1 {
         min-height: 817px;
     }
     .u-section-2 .u-image-1 {
         margin-top: 20px;
         height: NaNpx;
     }
     .u-section-2 .u-layout-cell-2 {
         min-height: 210px;
     }
     .u-section-2 .u-group-1 {
         width: 455px;
         height: auto;
     }
     .u-section-2 .u-icon-1 {
         padding: 17px;
     }
     .u-section-2 .u-layout-cell-3 {
         min-height: 208px;
     }
     .u-section-2 .u-group-2 {
         width: 455px;
         height: auto;
     }
     .u-section-2 .u-icon-2 {
         padding: 17px;
     }
     .u-section-2 .u-layout-cell-4 {
         min-height: 209px;
     }
     .u-section-2 .u-group-3 {
         height: auto;
     }
     .u-section-2 .u-icon-3 {
         padding: 17px;
     }
 }

 @media (max-width: 991px) {
     .u-section-2 .u-sheet-1 {
         min-height: 830px;
     }
     .u-section-2 .u-layout-wrap-1 {
         margin-top: 26px;
         margin-bottom: 34px;
     }
     .u-section-2 .u-layout-cell-1 {
         min-height: 768px;
     }
     .u-section-2 .u-container-layout-1 {
         padding-left: 19px;
         padding-right: 19px;
     }
     .u-section-2 .u-text-1 {
         width: auto;
         font-size: 2.25rem;
         margin-left: 10px;
         margin-right: 10px;
     }
     .u-section-2 .u-text-2 {
         margin-left: 11px;
         margin-right: 11px;
     }
     .u-section-2 .u-image-1 {
         height: 246px;
         width: 292px;
         margin-top: 92px;
         margin-right: 0;
         margin-left: auto;
     }
     .u-section-2 .u-layout-cell-2 {
         min-height: 255px;
     }
     .u-section-2 .u-group-1 {
         width: 345px;
         min-height: 224px;
     }
     .u-section-2 .u-container-layout-3 {
         padding-left: 20px;
     }
     .u-section-2 .u-icon-1 {
         margin-top: 0;
     }
     .u-section-2 .u-text-3 {
         width: auto;
         margin-right: 0;
         margin-left: 106px;
     }
     .u-section-2 .u-text-4 {
         width: auto;
         margin-left: 106px;
     }
     .u-section-2 .u-layout-cell-3 {
         min-height: 255px;
     }
     .u-section-2 .u-group-2 {
         width: 345px;
         min-height: 224px;
     }
     .u-section-2 .u-container-layout-5 {
         padding-left: 20px;
     }
     .u-section-2 .u-icon-2 {
         margin-top: 12px;
     }
     .u-section-2 .u-text-5 {
         width: auto;
         margin-right: 0;
         margin-left: 106px;
     }
     .u-section-2 .u-text-6 {
         width: auto;
         margin-left: 106px;
     }
     .u-section-2 .u-layout-cell-4 {
         min-height: 233px;
     }
     .u-section-2 .u-group-3 {
         min-height: 224px;
         width: 350px;
     }
     .u-section-2 .u-container-layout-7 {
         padding-left: 20px;
     }
     .u-section-2 .u-icon-3 {
         margin-top: 0;
     }
     .u-section-2 .u-text-7 {
         width: auto;
         margin-right: 0;
         margin-left: 106px;
     }
     .u-section-2 .u-text-8 {
         width: auto;
         margin-left: 106px;
     }
 }

 @media (max-width: 767px) {
     .u-section-2 .u-sheet-1 {
         min-height: 1523px;
     }
     .u-section-2 .u-layout-cell-1 {
         min-height: 811px;
     }
     .u-section-2 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-image-1 {
         margin-top: 51px;
     }
     .u-section-2 .u-layout-cell-2 {
         min-height: 100px;
     }
     .u-section-2 .u-container-layout-3 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-layout-cell-3 {
         min-height: 100px;
     }
     .u-section-2 .u-container-layout-5 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-layout-cell-4 {
         min-height: 100px;
     }
     .u-section-2 .u-container-layout-7 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }

 @media (max-width: 575px) {
     .u-section-2 .u-sheet-1 {
         min-height: 982px;
     }
     .u-section-2 .u-layout-cell-1 {
         min-height: 614px;
     }
     .u-section-2 .u-container-layout-1 {
         padding: 5px 9px;
     }
     .u-section-2 .u-text-1 {
         font-size: 1.5rem;
         margin-top: 25px;
         margin-left: 1px;
         margin-right: 1px;
     }
     .u-section-2 .u-text-2 {
         margin-left: 2px;
         margin-right: 2px;
     }
     .u-section-2 .u-image-1 {
         height: 269px;
         width: 320px;
         margin-top: -2px;
         margin-right: auto;
     }
     .u-section-2 .u-group-1 {
         width: 340px;
     }
     .u-section-2 .u-icon-1 {
         width: 74px;
         height: 74px;
         margin-top: 26px;
         padding: 14px;
     }
     .u-section-2 .u-text-3 {
         margin-top: -74px;
         margin-left: 86px;
     }
     .u-section-2 .u-text-4 {
         margin-left: 86px;
     }
     .u-section-2 .u-group-2 {
         width: 340px;
     }
     .u-section-2 .u-icon-2 {
         width: 74px;
         height: 74px;
         padding: 14px;
     }
     .u-section-2 .u-text-5 {
         margin-top: -74px;
         margin-left: 86px;
     }
     .u-section-2 .u-text-6 {
         margin-left: 86px;
     }
     .u-section-2 .u-group-3 {
         width: 340px;
     }
     .u-section-2 .u-icon-3 {
         width: 74px;
         height: 74px;
         margin-top: 26px;
         padding: 14px;
     }
     .u-section-2 .u-text-7 {
         margin-top: -74px;
         margin-left: 86px;
     }
     .u-section-2 .u-text-8 {
         margin-left: 86px;
     }
 }

 .u-section-3 {
     background-image: url("images/forestnofox.jpg");
     background-position: 50% 50%;
 }

 .u-section-3 .u-sheet-1 {
     min-height: 706px;
 }

 .u-section-3 .u-text-1 {
     font-weight: 700;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 300px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin: 20px auto 0;
 }

 .u-section-3 .u-text-2 {
     width: 890px;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 300px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin: 20px auto 0;
 }

 .u-section-3 .u-text-3 {
     width: 890px;
     font-weight: 700;
     font-size: 1.875rem;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     margin: 12px auto 0;
 }

 .u-section-3 .u-text-4 {
     width: 890px;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     margin: 12px auto 0;
 }

 .u-section-3 .u-list-1 {
     width: 390px;
     margin: 12px auto 0;
 }

 .u-section-3 .u-repeater-1 {
     grid-gap: 0px 0px;
 }

 .u-section-3 .u-image-1 {
     width: 328px;
     height: 328px;
     margin: 20px auto 0;
 }

 .u-section-3 .u-text-5 {
     font-family: Chewy;
     width: 890px;
     font-size: 2.25rem;
     margin: 30px auto 0;
 }

 .u-section-3 .u-text-6 {
     font-family: Chewy;
     width: 890px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 60px;
     font-size: 1.25rem;
 }

 @media (max-width: 1199px) {
     .u-section-3 .u-sheet-1 {
         min-height: 582px;
     }
     .u-section-3 .u-list-1 {
         width: 360px;
     }
     .u-section-3 .u-repeater-1 {
         grid-template-columns: repeat(undefined, NaN%);
     }
 }

 @media (max-width: 991px) {
     .u-section-3 .u-sheet-1 {
         min-height: 446px;
     }
     .u-section-3 .u-text-2 {
         width: 720px;
     }
     .u-section-3 .u-text-3 {
         width: 720px;
     }
     .u-section-3 .u-text-4 {
         width: 720px;
     }
     .u-section-3 .u-list-1 {
         width: 384px;
     }
     .u-section-3 .u-repeater-1 {
         grid-template-columns: 100%;
     }
     .u-section-3 .u-text-5 {
         width: 720px;
     }
     .u-section-3 .u-text-6 {
         width: 720px;
     }
 }

 @media (max-width: 767px) {
     .u-section-3 .u-sheet-1 {
         min-height: 335px;
     }
     .u-section-3 .u-text-2 {
         width: 540px;
     }
     .u-section-3 .u-text-3 {
         width: 540px;
     }
     .u-section-3 .u-text-4 {
         width: 540px;
     }
     .u-section-3 .u-list-1 {
         width: 277px;
         margin-top: 20px;
     }
     .u-section-3 .u-text-5 {
         width: 540px;
     }
     .u-section-3 .u-text-6 {
         width: 540px;
     }
 }

 @media (max-width: 575px) {
     .u-section-3 .u-sheet-1 {
         min-height: 211px;
     }
     .u-section-3 .u-text-2 {
         width: 340px;
     }
     .u-section-3 .u-text-3 {
         width: 340px;
     }
     .u-section-3 .u-text-4 {
         width: 340px;
     }
     .u-section-3 .u-list-1 {
         margin-top: 12px;
     }
     .u-section-3 .u-text-5 {
         width: 340px;
     }
     .u-section-3 .u-text-6 {
         width: 340px;
     }
 }

 .u-section-4 {
     background-image: none;
 }

 .u-section-4 .u-sheet-1 {
     min-height: 793px;
 }

 .u-section-4 .u-text-1 {
     font-weight: 700;
     font-family: Chewy;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     margin: 19px auto 0;
 }

 .u-section-4 .u-accordion-1 {
     width: 800px;
     margin: 49px auto 60px;
 }

 .u-section-4 .u-accordion-link-1 {
     background-image: none;
     text-transform: uppercase;
     padding: 20px 30px;
 }

 .u-section-4 .u-icon-1 {
     height: 20px;
     width: 20px;
 }

 .u-section-4 .u-accordion-pane-1 {
     min-height: 150px;
 }

 .u-section-4 .u-container-layout-1 {
     padding: 30px;
 }

 .u-section-4 .u-text-2 {
     margin: 0;
 }

 .u-section-4 .u-accordion-link-2 {
     background-image: none;
     text-transform: uppercase;
     padding: 20px 30px;
 }

 .u-section-4 .u-icon-2 {
     height: 20px;
     width: 20px;
 }

 .u-section-4 .u-accordion-pane-2 {
     min-height: 150px;
 }

 .u-section-4 .u-container-layout-2 {
     padding: 30px;
 }

 .u-section-4 .u-text-3 {
     margin: 0;
 }

 .u-section-4 .u-accordion-link-3 {
     background-image: none;
     text-transform: uppercase;
     padding: 20px 30px;
 }

 .u-section-4 .u-icon-3 {
     height: 20px;
     width: 20px;
 }

 .u-section-4 .u-accordion-pane-3 {
     min-height: 150px;
 }

 .u-section-4 .u-container-layout-3 {
     padding: 30px;
 }

 .u-section-4 .u-text-4 {
     margin: 0;
 }

 .u-section-4 .u-accordion-link-4 {
     background-image: none;
     text-transform: uppercase;
     padding: 20px 30px;
 }

 .u-section-4 .u-icon-4 {
     height: 20px;
     width: 20px;
 }

 .u-section-4 .u-accordion-pane-4 {
     min-height: 150px;
 }

 .u-section-4 .u-container-layout-4 {
     padding: 30px;
 }

 .u-section-4 .u-text-5 {
     margin-bottom: 0;
     margin-top: 0;
 }

 @media (max-width: 991px) {
     .u-section-4 .u-accordion-1 {
         width: 720px;
     }
 }

 @media (max-width: 767px) {
     .u-section-4 .u-accordion-1 {
         width: 540px;
     }
     .u-section-4 .u-container-layout-4 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }

 @media (max-width: 575px) {
     .u-section-4 .u-accordion-1 {
         width: 340px;
     }
 }

 .u-section-5 {
     background-image: none;
 }

 .u-section-5 .u-sheet-1 {
     min-height: 500px;
 }

 .u-section-5 .u-custom-html-1 {
     margin-bottom: 0;
     height: auto;
     min-height: 357px;
     margin-top: 0;
 }

 .u-section-5 .u-text-1 {
     font-weight: 700;
     margin: 30px auto 60px;
 }